body {
    background-color: gray;
    color: #282C35;
}

button {
    border-radius: 3px;
}
/* 
#p1::before {
    content: "*";
    color: red;
    font-size: larger;
}

#p2::before {
    content: "*";
    color: red;
}

#p4::before {
    content: "*";
    color: red;
} */